/* ComCss.module.css */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top: 0;
    zoom: 0.8;
    background-color: #f2f2f2;
    width: 125vw;
    z-index: 100;
}

.logo {
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    font-weight: bold;
    height: 7vh;
}

.nav {
    list-style-type: none;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin: 0;
    padding: 0;
}
.navbutton{
    list-style-type: none;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin: 0;
    margin-right: 2vw;
    padding: 0;
}
.nav li {
    font-size: 16px;
}

.nav li a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav li a:hover {
    color: #555;
}

.nav li a.active {
    color: red;
}

.avatar-menu {
    position: relative;
    display: inline-block;
}

.menu-button {
    cursor: pointer;
}

.menu-list {
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 1;
    min-width: 150px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}

.menu-list a {
    display: block;
    padding: 8px 10px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.menu-list a:hover {
    background-color: #f2f2f2;
}

/* Responsive Styles */

/* @media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 10px;
    }

    .logo {
        margin-bottom: 10px;
    }

    .nav {
        display: none;
    }

    .avatar-menu {
        margin-left: auto;
    }

    .menu-list {
        position: static;
        min-width: auto;
        margin-top: 10px;
        border: none;
        border-radius: 0;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .menu-list a {
        padding: 10px;
    }
}

/* Full Screen Styles */

/* @media screen and (min-width: 1200px) {
    .header {
        padding: 20px 40px;
    }

    .nav {
        justify-content: flex-end;
    }
}  */