.hex-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0px, 0.3fr));
  grid-gap: 2px;
  /* grid-row: inherit; */
  margin-left: 15vw;
  margin-right: 13vw;
  margin-top: 0vh;
  height: 400px;
  min-height: 400px;
  max-height: 400px;
}

.hex-item {
  /* margin-right: -20vw; */
  position: relative;
  width: 100px;
  height: 100px;
  background-color: skyblue;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
/* .hex-item:nth-child(2n + 2),
.hex-item:nth-child(4n + 4) {
  margin-left: 50px;
} */
/* Add any additional styling or customization as needed */
