.header {
    position: fixed;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 25px;
    background-color: rgb(243, 183, 65);
    height: 50px;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.header h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}