.container {
    margin-top: 3vh;
    padding-top: 2rem;
    background-color: rgba(255, 255, 255);
    border-radius: 1rem;
    zoom: 0.8;
    width: 100vw;
    padding-bottom: 2rem;
    border-width: 3px;
    border-color: white;
    /* backdrop-filter: blur(10rem); */
}

.divider {
    border-right: 1px solid skyblue;
    padding-right: 10px;
    /* Add some padding to create space between the content and the divider line */
}
/* .title {
    margin-top: 2vh;
    color: black;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
} */

.input-container {
    display: flex;
    /* margin-left: 2.5vw; */
    justify-content: flex-start;
    margin-bottom: 1rem;
}
.AddRFP {
    /* display: flex; */
    /* margin-left: 2.5vw; */
    /* justify-content: flex-end; */
    margin-bottom: 1rem;
}

.input {
    width: 120px;
    margin-right: 1rem;
}

.label {
    font-size: 0.8rem;
}

.table-container {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 90vw;
    background-color: "rgba(255, 255, 255, 0.8)";
}

.table {
    width: 100%;
    table-layout: fixed;
}

.table th,
.table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 8px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

@media screen and (max-width: 800px) {
    .table-container {
        width: 90%;
        max-width: 90%;
        margin-left: 5;
        margin-right: 5;
    }

    .table th,
    .table td {
        white-space: initial;
        overflow: visible;
        text-overflow: clip;
    }
}   