html {
  font-family: system-ui, sans-serif;
  font-size: 1.25rem;
}

.pie {
  display: flex;
}

body {
  margin: 0;
  display: flex;
  margin-left: 10;
}

.map-container svg {
  height: 1000px;
  width: "80vw";
  position: unset !important;
  top: 110vh !important;
  margin-left: 10vw !important;
}
.color-box {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

.mapchart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  /* Adjust the width as needed */
  /* margin-right: 500px; */
  /* margin-bottom: 5rem; */
}
.no-data-message{
  margin-left: 13vw;
}