html {
  font-family: system-ui, sans-serif;
  font-size: 1.25rem;
}
.pie {
  display: flex;
  gap: 10vw;
  max-height: 20vh;
  margin-top: -10%;
  margin-bottom: 10%;
  margin-left: 5%;
}
body {
  margin: 0;
  display: flex;
  margin-left: 10;
}

.map-container svg {
  height: 650px;
  top: 110vh !important;
  left: 5% !important;
}


.mapchart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%; /* Adjust the width as needed */
  margin-bottom: 15%;
  
}

