html {
  font-family: system-ui, sans-serif;
  font-size: 1.25rem;
}

.pie {
  display: flex;
}

body {
  margin: 0;
  display: flex;
  margin-left: 10;
}

.map-container svg {
  height: 650px;
  position: unset !important;
  top: 110vh !important;
  margin-left: 15vw !important;
}

.mapchart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  /* Adjust the width as needed */
  /* margin-right: 500px; */
  /* margin-bottom: 5rem; */
}