html {
    font-family: system-ui, sans-serif;
    font-size: 1.25rem;
}

body {
    margin: 0;
}

/* svg {
    display: inline-block;
    vertical-align: middle;
    height: 600px;
    left: 25% !important;
} */

/* responsive, form small screens, use 13px font size */
/* @media (max-width: 1000px) {
    svg {
        display: inline-block;
        vertical-align: middle;
        height: 600px;
    }
} */